# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ipch

# Executables
*.exe
*.out
*.app

# User-specific files
*.suo
*.user
*.sdf
*.opensdf
*.tlog
*.lastbuildstate
*.idb
*.orig

# Build results
*/[Dd]ebug/
*/[Rr]elease/
*/[Dd]ebug.[Ww]in32/
*/[Rr]elease.[Ww]in32/
*/x64/
*/x86/
*/[Bb]in/
*/[Oo]bj/