# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User-specific files
*.suo
*.user
*.sdf

# Build results
*/[Dd]ebug/
*/[Rr]elease/
*/[Dd]ebug.[Ww]in32/
*/[Rr]elease.[Ww]in32/
*/x64/
*/x86/
*/[Bb]in/
*/[Oo]bj/